<mat-card>
    <mat-card-header>
        <mat-card-title>Punktfolge</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form>
            <mat-form-field>
                <input matInput
                       type="number"
                       placeholder="X-Wert"
                       [(ngModel)]="inputValueX"
                       [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field>
                <input matInput
                       type="number"
                       placeholder="Y-Wert"
                       [(ngModel)]="inputValueY"
                       [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <button mat-button
                    (click)="addPoint(inputValueX, inputValueY)"
                    color="primary">
                <mat-icon>add</mat-icon>
            </button>
        </form>
        <button mat-button
                (click)="removeSelectedPoints(elements); globalSelectStatus = false"
                [disabled]="getSelectedElements(elements).length < 1">
            <mat-icon>delete</mat-icon>
        </button>

        <div class="table">
            <div class="header row">
                <div class="col">
                    <mat-checkbox [ngModel]="globalSelectStatus"
                                  (ngModelChange)="masterToggle($event)"></mat-checkbox>
                </div>
                <div class="col">
                    X-Wert
                </div>
                <div class="col">
                    Y-Wert
                </div>
            </div>
            <div class="row"
                 *ngFor="let element of elements; trackBy: trackByFn">
                <div class="col">
                    <mat-checkbox [ngModel]="element.isSelected"
                                  (ngModelChange)="element.isSelected = $event; toggleElementSelection(elements, $event)"></mat-checkbox>
                </div>
                <div class="col">
                    <input type="number"
                           [ngModel]="element.value.x"
                           (ngModelChange)="updatePointValueX(element, $event)"
                           placeholder="X-Wert">
                </div>
                <div class="col">
                    <input type="number"
                           [ngModel]="element.value.y"
                           (ngModelChange)="updatePointValueY(element, $event)"
                           placeholder="Y-Wert">
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>