<mat-card>
    <mat-card-header>
        <mat-card-title>Kontingenztafel</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="table"
              id="contingencyTableForm"
              #contingencyTableForm
              ngNativeValidate
              *ngIf="table">
            <div class="row">
                <div class="col"></div>
                <div class="col"
                     *ngFor="let item_y of table.y; index as index_y; trackBy: trackByFn">
                    <input type="number"
                           step="any"
                           [ngModel]="getValueFor(VALUE_TYPE_Y, index_y, undefined)"
                           (ngModelChange)="updateValueFor(VALUE_TYPE_Y, $event, index_y, undefined)"
                           [ngModelOptions]="{standalone: true}"
                           [placeholder]="getPlaceholderFor(VALUE_TYPE_Y, index_y, undefined)"
                           [disabled]="index_y > 0 && getValueFor(VALUE_TYPE_Y, index_y - 1, undefined) === undefined">
                </div>
                <div class="col">Summe</div>
            </div>
            <div class="row"
                 *ngFor="let item_x of table.x; index as index_x; trackBy: trackByFn">
                <div class="col">
                    <input type="number"
                           step="any"
                           [ngModel]="getValueFor(VALUE_TYPE_X, index_x, undefined)"
                           (ngModelChange)="updateValueFor(VALUE_TYPE_X, $event, index_x, undefined)"
                           [ngModelOptions]="{standalone: true}"
                           [placeholder]="getPlaceholderFor(VALUE_TYPE_X, index_x, undefined)"
                           [disabled]="index_x > 0 && getValueFor(VALUE_TYPE_X, index_x - 1, undefined) === undefined">
                </div>
                <div class="col"
                     *ngFor="let item_y of table.y; index as index_y; trackBy: trackByFn">
                    <input type="number"
                           min="0"
                           [max]="MAX_SAMPLE_SIZE"
                           [ngModel]="getValueFor(VALUE_TYPE_H, index_x, index_y)"
                           (ngModelChange)="updateValueFor(VALUE_TYPE_H, $event, index_x, index_y)"
                           [ngModelOptions]="{standalone: true}"
                           [placeholder]="getPlaceholderFor(VALUE_TYPE_H, index_x, index_y)"
                           [disabled]="getValueFor(VALUE_TYPE_Y, index_y, undefined) === undefined || getValueFor(VALUE_TYPE_X, index_x, undefined) === undefined">
                </div>
                <div class="col">
                    <input type="number"
                           step="any"
                           readonly
                           [ngModel]="getSumFor(VALUE_TYPE_HX, index_x)"
                           [ngModelOptions]="{standalone: true}"
                           [placeholder]="getPlaceholderFor(VALUE_TYPE_HX, index_x, undefined)">
                </div>
            </div>
            <div class="row">
                <div class="col">Summe</div>
                <div class="col"
                     *ngFor="let item_y of table.y; index as index_y">
                    <input type="number"
                           step="any"
                           readonly
                           [ngModel]="getSumFor(VALUE_TYPE_HY, index_y)"
                           [ngModelOptions]="{standalone: true}"
                           [placeholder]="getPlaceholderFor(VALUE_TYPE_HY, index_y, undefined)">
                </div>
                <div class="col">
                    <input type="number"
                           step="any"
                           readonly
                           [ngModel]="getSumFor(VALUE_TYPE_HXY, undefined)"
                           [ngModelOptions]="{standalone: true}"
                           [placeholder]="getPlaceholderFor(VALUE_TYPE_HXY, undefined, undefined)">
                </div>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions align="end">
        <div fxFlex></div>
        <button mat-button
                *ngIf="table"
                color="primary"
                type="submit"
                form="contingencyTableForm"
                (click)="saveTable(table)">Übernehmen</button>
    </mat-card-actions>
</mat-card>