<mat-card>
    <mat-card-header>
        <mat-card-title>Kontingenztafel</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="table"
             *ngIf="table">
            <div class="row">
                <div class="col"></div>
                <div class="col"
                     *ngFor="let item_y of table.y; index as index_y; trackBy: trackByFn">
                    <input type="number"
                           [ngModel]="getValueFor(VALUE_TYPE_Y, index_y, undefined)"
                           (ngModelChange)="updateValueFor(VALUE_TYPE_Y, $event, index_y, undefined)"
                           [placeholder]="getPlaceholderFor(VALUE_TYPE_Y, index_y, undefined)">
                </div>
                <div class="col">Summe</div>
            </div>
            <div class="row"
                 *ngFor="let item_x of table.x; index as index_x; trackBy: trackByFn">
                <div class="col">
                    <input type="number"
                           [ngModel]="getValueFor(VALUE_TYPE_X, index_x, undefined)"
                           (ngModelChange)="updateValueFor(VALUE_TYPE_X, $event, index_x, undefined)"
                           [placeholder]="getPlaceholderFor(VALUE_TYPE_X, index_x, undefined)">
                </div>
                <div class="col"
                     *ngFor="let item_y of table.y; index as index_y; trackBy: trackByFn">
                    <input type="number"
                           [ngModel]="getValueFor(VALUE_TYPE_H, index_x, index_y)"
                           (ngModelChange)="updateValueFor(VALUE_TYPE_H, $event, index_x, index_y)"
                           [placeholder]="getPlaceholderFor(VALUE_TYPE_H, index_x, index_y)"
                           [disabled]="getValueFor(VALUE_TYPE_Y, index_y, undefined) === undefined || getValueFor(VALUE_TYPE_X, index_x, undefined) === undefined">
                </div>
                <div class="col">
                    <input type="number"
                           readonly
                           [ngModel]="getSumFor(VALUE_TYPE_HX, index_x)"
                           [placeholder]="getPlaceholderFor(VALUE_TYPE_HX, index_x, undefined)">
                </div>
            </div>
            <div class="row">
                <div class="col">Summe</div>
                <div class="col"
                     *ngFor="let item_y of table.y; index as index_y">
                    <input type="number"
                           readonly
                           [ngModel]="getSumFor(VALUE_TYPE_HY, index_y)"
                           [placeholder]="getPlaceholderFor(VALUE_TYPE_HY, index_y, undefined)">
                </div>
                <div class="col">
                    <input type="number"
                           readonly
                           [ngModel]="getSumFor(VALUE_TYPE_HXY, undefined)"
                           [placeholder]="getPlaceholderFor(VALUE_TYPE_HXY, undefined, undefined)">
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>