<h1 mat-dialog-title>Edit Point</h1>
<div mat-dialog-content>
    <form [formGroup]="pointForm">
        <mat-form-field class="inputPointValue">
            <input matInput
                   placeholder="X-Value"
                   formControlName="xValueControl">
        </mat-form-field>
        <mat-form-field class="inputPointValue">
            <input matInput
                   placeholder="Y-Value"
                   formControlName="yValueControl">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button
            (click)="cancel()">Cancel</button>
    <button mat-button
            (click)="edit()"
            [disabled]="!this.pointForm?.valid">Edit</button>
</div>